.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

.u-section-1 .u-group-1 {
  width: 1103px;
  box-shadow: 0px 0px 8px 9px rgba(0,0,0,0.5);
  height: 487px;
  background-image: none;
  min-height: 487px;
  margin: 71px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 538px;
  height: 460px;
  margin: 13px auto 0 11px;
}

.u-section-1 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: -373px auto 0 143px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: -120px 207px 0 auto;
}

.u-section-1 .u-tabs-1 {
  min-height: 398px;
  width: 411px;
  height: auto;
  margin: 42px 26px 0 auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 355px;
  margin: 14px 0 0 -7px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  box-shadow: 3px 2px 13px 0px rgba(0,0,0,0.9);
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(74,239,227,0.88), #9af7c3);
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-weight: 700;
  margin: -78px 52px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-form-2 {
  height: 355px;
  margin: 16px 0 0 -8px;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-btn-3 {
  box-shadow: 3px 2px 13px 0px rgba(0,0,0,0.9);
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(74,239,227,0.88), #9af7c3);
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-weight: 700;
  margin: -79px 52px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    min-height: 494px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 463px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -349px;
    margin-left: 127px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -144px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    padding: 10px 31px 11px 29px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -28px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-group-1 {
    min-height: 398px;
    margin-top: 148px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 328px;
    height: 367px;
    margin-top: 14px;
    margin-left: 13px;
  }

  .u-section-1 .u-icon-1 {
    width: 21px;
    height: 21px;
    margin-top: -276px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -126px;
    margin-right: 157px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 335px;
    width: 346px;
    margin-top: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-form-1 {
    height: 276px;
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -74px;
    margin-right: 31px;
  }

  .u-section-1 .u-form-2 {
    height: 275px;
    margin-top: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -73px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-group-1 {
    min-height: 384px;
    margin-top: 154px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 236px;
    height: 218px;
    margin-top: 67px;
    margin-left: 14px;
  }

  .u-section-1 .u-icon-1 {
    width: 15px;
    height: 15px;
    margin-top: -168px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -127px;
    margin-right: 116px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 279px;
    width: 254px;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -87px;
    margin-right: 26px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -86px;
    margin-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-group-1 {
    min-height: 689px;
    margin-top: 78px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 299px;
    height: 258px;
    margin-top: 415px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -206px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -479px;
    margin-right: auto;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 307px;
    width: 314px;
    margin-top: 41px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -88px;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -87px;
  }
}